
@import "../node_modules/bootstrap/scss/bootstrap.scss";

// was trying to change the theme, didn't go too well. Don't know how to fix it. Hopefully will know in the future.

//brand colors//
$dark: #4d2c79;
$light: #9294de;

.carouselExampleControls{
    padding:5%;
}